.buttonLogin {
  font-family: "JetBrains Mono", monospace;
  font-size: 40px;
  background: linear-gradient(40deg, #fa3df4, #e50f0f);
}

.forgot {
  font-family: "JetBrains Mono", monospace;
  color: #4e60ff;
  font-size: 14px;
}

.remember {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  color: #BB86FC;
}

.formTitle {
  font-family: "JetBrains Mono", monospace;
  font-size: 50px;
  font-weight: bold;
  color: #BB86FC;
}
.loginButton{
  font-family: "JetBrains Mono", monospace;
  
}