body {
  background-color: #1E1E1E;
  font-family: 'JetBrains Mono', monospace;
}

.tt{
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
}
.maketTitle{

  font-family: "JetBrains Mono", monospace;
  font-size: 55px;
  margin-bottom: 30px;
}
.maketDesc{
color: #BB86FC;
font-family: "JetBrains Mono", monospace;
font-size: 22px;
}
img {
  pointer-events: none; /* Отключает все взаимодействия с изображением */
}
.inpuut{
 background: rgba(255, 255, 255, 0.22);
}