body {
  background-color: #1e1e1e;
  font-family: "JetBrains Mono", monospace;
}


.tt {
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
}
.maketTitle {
  font-family: "JetBrains Mono", monospace;
  font-size: 55px;
  margin-bottom: 30px;
}
.maketDesc {
  color: #bb86fc;
  font-family: "JetBrains Mono", monospace;
  font-size: 22px;
}
img {
  pointer-events: none; /* Отключает все взаимодействия с изображением */
}
.inpuut {
  background: rgba(255, 255, 255, 0.22);
}
.course {
  position: relative;
  background-color: #252526;
  max-width: 1475px;
  height: 120px;
  border-radius: 50px;
  padding-left: 30px; /* добавим отступ для текста */
  display: flex;
  align-items: center; /* выровнять по вертикали */
  color: white; /* цвет текста */
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
}

.course::before {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  background: linear-gradient(45deg, #fa3df4, #e50f0f) border-box;

  /* Маска для создания рамки */
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  pointer-events: none;
  z-index: -1; /* важно: рамка под контентом */
}
.shadowww {
  box-shadow: 0px 0px 45px 5px #acdeff;
}
.shadowww2 {
  box-shadow: 0px 0px 45px 5px #DC2285;
}
.uull {
  list-style-type: disc;
  color: #acdeff;
  
  font-size: 20px;
  margin-top: 20px;
}
.liii {
  text-shadow: 0px 0px 5px #acdeff;
}
.liii2 {
  color: #bb86fc;
  text-shadow: 0px 0px 5px #bb86fc;
}
.sha {
  box-shadow: 0px 0px 15px 1px #acdeff;
}
.sha2 {
  box-shadow: 0px 0px 15px 1px #DC2285;
}
.t {
  background: linear-gradient(to top, #fa3df4 0%, #E50F0F 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  
}
